.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 400px;
}


.card_theme_dark {
  background-color: #000;
}


.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}


.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 31px 20px;
}


.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  cursor: pointer;
}


.card__like-btn:hover {
  opacity: 1;
}


.card__like-btn_active {
  opacity: 1;
  background-image: url(../images/heart-active.svg);
}


@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }


  .card__content {
    padding: 20px 15px 25px 20px;
  }
}