.cards {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px 20px;
}


@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}

