.card {
  position: relative;
}

.card_theme_dark {
  background-color: #000;
}


.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__delete-btn{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete.svg);
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card__delete-btn:hover{
  opacity: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  max-width: 353px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  cursor: pointer;
}


.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
background-image: url(../images/like-active.svg);
opacity: 1;
}

.card__like-btn_active:hover {
opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }


   .card__title {
    max-width: 235px;
  }
}