.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  margin: 0;
}

.footer__copyright {
  font-family: Poppins;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #212121B2;
}