.footer {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  margin: 0;
}

.footer__copyright {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #212121B2;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .footer {
    padding: 60px 16px;
  }
}