.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121B2;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  opacity: 0.7;
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: transparent;
}

.profile__edit-btn:hover {
  opacity: 0.8;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  width: 157px;
  padding: 0;
  background-color: #212121;
  color: #FCF5E5;
  height: 52px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .profile__edit-btn {
    margin-bottom: 2px;
  }

  .profile__avatar {
    margin-bottom: 12px;
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin-right: 0;
    align-items: center;
  }

  .profile__add-btn {
    margin-left: 0;
    width: 100%;
    max-width: 288px;
    margin-top: 20px;
  }
}